body#index {
  section {
    > div {
      @include make-container();
      @include media-breakpoint-up(lg) { @include make-container-max-widths(); }
    }
  }
  section#tagline {
    @include media-map-up(padding-top, 2rem, 2.5rem, 3rem, 3.5rem, 4rem);
    background-color: $color-one-lead;
//    background-image: url(../img/mains-nues-1.jpg);
//    background-size: cover;
//    background-repeat: no-repeat;
//    background-position: 50% 50%;
    color: $color-one-title;
    text-shadow: 1px 1px 1px $color-one-shadow, 1px 1px 10px rgba($color-one-shadow, 0.5);
    > div {
      > div {
        blockquote {
          @include media-map-up(font-size, 1rem, 1rem, 1.4rem, 1.5rem, 2rem);
          @include media-map-up(padding-left, 20px, 40px, 60px, 80px, 100px);
          line-height: 2em;
          .excerpt {
            @include media-map-up(font-size, 1.5rem, 2.1rem, 2.8rem, 3.2rem, 4rem);
          }
        }
      }
    }
  }
  section#benefits, section#applications {
    > div {
      > div {
        @include make-row();
        article {
          @include make-col-ready();
          > div {
            h2 {
              line-height: 1rem;
              margin: 0 auto;
	      padding-bottom: .5rem;
	      span {
	        display: block;
	      }
              .far, .fas {
	        display: block;
		margin: 0 auto;
              }
            }
            p {
              @include media-map-up(font-size, 0.9rem, 0.9rem, 0.9rem, .9rem, .9rem);
            }
          }
        }
      }
    }
  }
  section#benefits {
    background-color: $color-one-lead;
    padding-bottom: 4rem;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E %3Cpolygon points='0,0 50,100 0,100' style='fill:%23ffffff%3B' /%3E %3Cpolygon points='100,0 50,100 100,100' style='fill:%23ffffff%3B' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 4rem;
    color: $color-one-text;
    strong {
      color: $color-one-title;
    }
    text-shadow: 1px 1px 1px $color-one-shadow, 1px 1px 10px rgba($color-one-shadow, 0.5);
    > div {
      > div {
        article {
          @include media-breakpoint-up(md) { @include make-col(6); }
          @include media-breakpoint-up(xl) { @include make-col(3); }
          > div {
            h2 {
              color: $color-one-title;
              @include media-map-up(text-align, left, left, center, center, center);
              .far, .fas {
                color: $color-one-title;
                @include media-map-up(margin-right, 15px, 20px, auto, auto, auto);
                @include media-map-up(font-size, 2.5rem, 3rem, 2.5rem, 3rem, 4rem);
                @include media-map-up(line-height, 2.5rem, 3rem, 3rem, 4rem, 5rem);
                @include media-map-up(float, left, left, none, none, none);
              }
              .action {
                @include media-map-up(font-size, 1.4rem, 1.7rem, 1.7rem, 2rem, 2rem);
                line-height: 1.1em;
               }
              .result {
                @include media-map-up(font-size, 1.2rem, 1.2rem, 1.4rem, 1.4rem, 1.3rem);
                line-height: 1.2em;
		margin-bottom: .5rem;
              }
            }
            p {
              @include media-map-up(padding-left, 66px, 82px, 0, 0, 0);
            }
          }
        }
      }
    }
  }
  section#applications {
    color: $color-two-text;
    > div {
      > div {
        article {
          @include media-breakpoint-up(sm) { @include make-col(6); }
          @include media-breakpoint-up(md) { @include make-col(3); }
          div {
            h2 {
              @include media-map-up(text-align, left, center, center, center, center);
              text-shadow: 1px 1px 1px $color-two-shadow;
              .action {
                @include media-map-up(font-size, 1.4rem, 1.5rem, 1.5rem, 2rem, 2.2rem);
                line-height: 1em;
               }
              .result {
                @include media-map-up(font-size, 1rem, 1rem, 1rem, 1rem, 1.3rem);
                line-height: 1em;
              }
              color: $color-two-title;
              .far, .fas {
                color: $color-two-title;
                text-shadow: 1px 1px 1px $color-two-shadow;
                @include media-map-up(margin-right, 15px, auto, auto, auto, auto);
                @include media-map-up(font-size, 2.5rem, 3rem, 2.5rem, 3rem, 4rem);
                @include media-map-up(line-height, 2.5rem, 3rem, 3rem, 4rem, 5rem);
                @include media-map-up(float, left, none, none, none, none);
              }
            }
          }
        }
      }
    }
  }
  section#proposal {
    @include media-map-up(padding-top, 2rem, 2.5rem, 3rem, 3.5rem, 4rem);
    padding-bottom: 0;
    background-color: $color-two-lead;
    color: $color-two-title;
    text-shadow: 1px 1px 2px $color-two-shadow;
    > div {
      > div {
        blockquote {
          @include media-map-up(font-size, 1.2rem, 1.2rem, 1.5rem, 2rem, 2.5rem);
          @include media-map-up(padding-left, 20px, 40px, 60px, 80px, 100px);
          position: relative;
          line-height: 1.5em;
          strong {
            @include media-map-up(font-size, 3.6rem, 4rem, 5rem, 6rem, 7.5rem);
          }
        }
      }
    }
  }
  section#activity {
    @include media-map-up(padding-top, 2rem, 2.5rem, 3rem, 3.5rem, 4rem);
    padding-bottom: 0;
    background-color: $color-two-lead;
    color: $color-two-title;
    text-shadow: 1px 1px 2px $color-two-shadow;
    > div {
      > div {
        @include make-row();
        article {
          @include make-col-ready();
          @include make-col(12);
          > div {
            h2 {
              line-height: 1rem;
              margin: 0 auto;
	      padding-bottom: .5rem;
	      span {
	        display: block;
	      }
              .far, .fas {
	        display: block;
		margin: 0 auto;
              }
            }
            p {
              @include media-map-up(font-size, 0.9rem, 0.9rem, 0.9rem, .9rem, .9rem);
            }
          }
        }
      }
    }
  }
  section#contact {
    background-color: $color-three-lead;
    padding-top: 5rem;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E %3Cpolygon points='0,0 50,100 100,0' style='fill:%23ffffff%3B' /%3E %3C/svg%3E");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 4rem;
    color: $color-three-text;
    text-shadow: 1px 1px 3px $color-three-shadow, 1px 1px 10px rgba($color-three-shadow, 0.5);
    a {
      color: rgba($color-three-text, .8);
      text-decoration: none;
      border-style: dotted;
      border-color: rgba($color-three-text, 0.5);
      border-width: 0 0 1px 0;
      &:hover {
        color: rgba($color-three-text, 1);
        border-style: solid;
        border-color: rgba($color-three-text, 0.8);
      }
    }
    > div {
      > div {
        article {
          @include make-row();
	  h2 {
            @include make-col-ready(); 
            @include make-col(12);
            text-shadow: 1px 1px 3px $color-three-shadow;
	    @include media-map-up(font-size, 2rem, 2rem, 2rem, 2.5rem, 3rem);
	  }
          div.meet {
            @include make-col-ready(); 
            @include media-breakpoint-up(md) { @include make-col(6); }
	    font-size: 0.9rem;
          }
	  div.call {
            @include make-col-ready(); 
            @include media-breakpoint-up(md) { @include make-col(6); }
	    img {
	      @include media-breakpoint-up(md) { float: left; }
	      border-width: 0px;
	      border-color: #000;
	      border-style: solid;
	      margin: 0 20px 30px 0;
	      width: 150px;
              box-shadow: 1px 1px 3px $color-three-shadow;
	    }
	    h3 {
	      @include media-map-up(font-size, 1.2rem, 1.3rem, 1.4rem, 1.5rem, 1.5rem);
	      color: $color-three-text;
	    }
	    p {
	      margin: 0 auto 0.5rem auto;
	    }
	  }
        }
      }
    }
  }
}
