/* Features. */
$enable-transitions: true;

/* Fonts. */
$font-standard: 'opensansregular', sans-serif;
$font-title: 'quicksandlight', sans-serif;
$font-subtitle: 'quicksandlight', sans-serif;
$font-code: monospace;

/* Colors. */
$color-body-bg: #ffffff;

/* Sensitive sizes. */
$header-height: 60px;
$footer-height: 60px;
