{% extends "base.html" %}
{% block head %}
  {{ super() }}
  {% for keyword in article.keywords %}
    <meta name="keywords" content="{{keyword}}" />
  {% endfor %}

  {% for description in article.description %}
    <meta name="description" content="{{description}}" />
  {% endfor %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

{% endblock %}
{% block body_class %}{{ super() }} article{% endblock %}

{% block content %}
<section>
  <article>
    <div class="article-info">
      <p class="published-on">
        Article publié le {{ article.locale_date }}
      </p>
      {% if article.modified %}
        <p class="modified-on">
          {{ article.locale_modified }}
        </p>
      {% endif %}
      {% if article.authors %}
        <p class="author">par
          {% for author in article.authors %}
            <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
          {% endfor %}
        </p>
      {% endif %}
    </div>

    <h1>
      <a href="{{ SITEURL }}/articles/{{ article.url }}" rel="bookmark"
        title="Permalien vers {{ article.title|striptags }}">{{ article.title }}
      </a>
    </h1>
    {% if article.metadata.subtitle %}
      <p class="subtitle">{{ article.metadata.subtitle }}</p>
    {% endif %}
    {% import 'translations.html' as translations with context %}
    {{ translations.translations_for(article) }}
    <div class="article-content">
      {{ article.content }}
    </div>
  </article>
</section>
{% endblock %}
