<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
  {% block head %}
    <meta charset="utf-8">
    <!-- Content. -->
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <meta name="description" content="Benoît Bryon, développeur de faire ensemble">
    <meta name="author" content="Benoît Bryon">
    <meta name="robots" content="index, follow">
    <!-- Feeds. -->
    {% if FEED_ALL_ATOM %}
      <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
    {% endif %}
    {% if FEED_ALL_RSS %}
      <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
    {% endif %}
    {% if FEED_ATOM %}
      <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_RSS %}
      <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}
    {% if CATEGORY_FEED_ATOM and category %}
      <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
    {% endif %}
    {% if CATEGORY_FEED_RSS and category %}
      <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
    {% endif %}
    {% if TAG_FEED_ATOM and tag %}
      <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
    {% endif %}
    {% if TAG_FEED_RSS and tag %}
      <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
    {% endif %}
    <!-- Style. -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/main.css">
    <link rel="canonical" href="{% block permalink %}{{ SITEURL }}/{% endblock %}">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <!-- IE tricks. -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
  {% endblock head %}
</head>
<body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">
  <header>
    <div>
      <nav>
        <div>
          <a id="logo" href="/">
            <span class="brand">Nos mains nues</span>
            <span class="punchline">Bien faire ensemble</span>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarLinks" aria-controls="navbarLinks" aria-expanded="true" aria-label="Afficher ou masquer le menu">
            <span class="far fa-fw fa-list-alt"></span>
          </button>
          <div id="navbarLinks" class="justify-content-end">
            <ul>
              <li{% if page and page.category == 'facilitation graphique' or output_file == 'facilitation-graphique/index.html' %} class="active"{% endif %}>
                <a href="/facilitation-graphique/">
                  <span class="fa fa-fw fa-edit"> </span>
                  Facilitation graphique
                </a>
              </li>
              <li{% if page and page.category == 'formations' or output_file == 'formations/index.html' %} class="active"{% endif %}>
                <a href="/formations/">
                  <span class="fas fa-fw fa-graduation-cap"> </span>
                  Formations
                </a>
              </li>
              <li{% if output_file == 'articles/index.html' or article %} class="active"{% endif %}>
                <a href="/articles/">
                  <span class="far fa-fw fa-newspaper"> </span>
                  Publications <span class="sr-only">(actuel)</span>
                </a>
              </li>
              <li>
                <a href="/#contact">
                  <span class="far fa-fw fa-id-card"> </span>
                  Contact
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
  {% block content %}{% endblock %}
  <div class="w-100"></div>
  <footer>
    <div>
      <div>
        <p class="copyright">
          Benoît Bryon, 2016-2024
          &mdash;
          <a href="/html/mentions-legales.html">Mentions légales</a>
        </p>
        <p class="contacts"></p>
      </div>
    </div>
  </footer>
  {% block javascript %}
    <script src="/main.js" type="module"></script>
  {% endblock %}
</body>
</html>
