{% extends "base.html" %}

{% block body_id %}articles{% endblock %}

{% block content %}
  <section id="articles">
    <div>
      {% for page in pages %}{% if page.slug == 'formations/index' %}
      <h1>{{ page.title }}</h1>
      <div>{{ page.content }}</div>
      {% endif %}{% endfor %}
      {% for page in pages %}
        {% if page.category == 'formations' and not page.slug == 'formations/index' %}
        {% set illustration = page.metadata.illustration %}
        <article>
          <a href="{{ page.url }}">
            <img src="{{ illustration }}" />
            <h2>{{ page.title }}</h2>
            <p>{{ page.metadata.summary }}</p>
          </a>
          <div class="article-info">
            <p class="published-on">
              {{ page.subtitle }}
            </p>
            {% if page.authors %}
              <p class="author">par
                {% for author in page.authors %}
                  <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
                {% endfor %}
              </p>
            {% endif %}
          </div>

        </article>
        {% endif %}
      {% endfor %}
    <div>
  </section>

{% endblock content %}
