{% extends "base.html" %}

{% block body_id %}index{% endblock %}

{% block content %}

  <section id="tagline">
    <div>
      <div>
        <blockquote>
          <strong>Faire</strong> sens <strong>ensemble</strong> est nécessaire<br />
          <strong>pour aller mieux</strong> et relever nos défis
        </blockquote>
      </div>
    </div>
  </section>

  <section id="services">
    <div>
      <div>
        <article>
          <div>
            <img src="/img/reunions-600x400px.png" />
            <h2>Dynamiques collectives</h2>
            <p class="benefit">
              Dans une équipe, entre acteurs ou en démarche participative, je vous aide à
              <strong>cultiver les conditions propices aux réalisations collectives.</strong>
            </p>
          </div>
        </article>
        <article>
          <a href="/facilitation-graphique/">
            <img src="/img/facilitation-graphique-600x400px.png" />
            <h2>Facilitation graphique</h2>
            <p>
              Je réalise et utilise contenus et outils visuels pour
              <strong>soutenir le travail des groupes</strong>.
              J'aime <strong>mettre en lumière ce qui est précieux</strong>
              pour mieux en prendre soin et le partager.
            </p>
          </a>
        </article>
        <article>
          <a href="/formations/">
            <img src="/img/formations-600x400px.png" />
            <h2>Formations</h2>
            <p>
               <strong>Je transmets mes savoir-faire professionnels</strong>&nbsp;:
               initiation sketchnotes et facilitation graphique,
               conduire une réunion étape par étape.
            </p>
          </a>
        </article>

      </div>
    </div>
  </section>

  <section id="proposal">
    <div>
      <div>
        <blockquote>
          Je vous aide à développer des<br />
          <strong>communs</strong>
        </blockquote>
      </div>
    </div>
  </section>

  <section id="applications">
    <div>
      <div>
        <article>
          <div>
            <h2>
              <span class="fas fa-fw fa-people-carry-box" /></span>
              <span class="action">Coopérations</span>
              <span class="result">activités coordonnées</span>
            </h2>
          </div>
        </article>
        <article>
          <div>
            <h2>
              <span class="fas fa-fw fa-users" /></span>
              <span class="action">Gouvernance partagée</span>
              <span class="result">organisations libres et responsables</span>
            </h2>
          </div>
        </article>
        <article>
          <div>
            <h2>
              <span class="fas fa-fw fa-share-alt" /></span>
              <span class="action">Tiers-lieux</span>
              <span class="result">espaces-temps mutualisés</span>
            </h2>
          </div>
        </article>
        <article>
          <div>
            <h2>
              <span class="fas fa-fw fa-landmark" /></span>
              <span class="action">Citoyenneté</span>
              <span class="result">territoires en transformation</span>
            </h2>
          </div>
        </article>
      </div>
    </div>
  </section>

  <section id="contact">
    <div>
      <div>
        <article>
          <h2>Rencontrons-nous&nbsp;!</h2>
          <div class="meet">
            <p>
              À la recherche d'une harmonie joyeuse entre individus, société et nature,
              je contribue au développement de (biens) communs ainsi qu'à l'émergence
              d'écosystèmes locaux cohérents.
              Ma motivation&nbsp;: multiplier, jusquà les rendre accessibles au plus grand nombre,
              les espaces où les individus peuvent faire les choix bons pour tous et chacun.
            </p>
          </div>
          <div class="call">
            <img src="img/benoit-bryon.jpg" />
            <h3>Benoît BRYON</h3>
            <p><span class="fa fa-phone fa-fw"> </span>&nbsp; 06&nbsp;74&nbsp;49&nbsp;68&nbsp;81</p>
            <p><span class="fa fa-envelope-o fa-fw"> </span>&nbsp; <a href="mailto:benoit@marmelune.net">benoit@marmelune.net</a></p>
            <p><span class="fa fa-home fa-fw"> </span>&nbsp; Oloron-Sainte-Marie, France</p>
            <p><span class="fa fa-search-plus fa-fw"> </span>&nbsp; <a href="http://www.marmelune.net">www.marmelune.net</a></p>
            <p style="clear: both;">
              <span class="fas fa-user-plus fa-3x" style="float: left; margin-right: 10px;"> </span>
              Envie de coopérer sur cette activité professionnelle&nbsp;?
              Évoquons ensemble sa mise en commun ;)
            </p>
          </div>
        </article>
      </div>
    </div>
  </section>
{% endblock content %}
