{% extends "base.html" %}

{% block body_id %}index{% endblock %}

{% block content %}

  <section id="tagline">
    <div>
      <div>
        <blockquote>
          Vous avez des projets partagés ou coopératifs&nbsp;?<br />
          Offrez-leur de grandir, <strong>libres&nbsp;!</strong>
        </blockquote>
      </div>
    </div>
  </section>

  <section id="benefits">
    <div>
      <div>
        <article>
          <div>
            <h2>
              <span class="fa fa-users" /></span>
              Réussir ensemble
            </h2>
            <p>
              Coordonnez les talents de chacun, 
              conjuguez plaisir et efficacité dans l'action collective,
              <strong>relevez les défis mieux que vous ne pourriez l'espérer seuls&nbsp;!</strong>
            </p>
          </div>
          <div>
            <h2>
              <span class="fa fa-globe" /></span>
              Changer d'échelle
            </h2>
            <p>
              Ouvrez votre projet, <strong>intégrez collaborateurs, utilisateurs et partenaires
              dans vos processus</strong>, valorisez leurs contributions.
            </p>
          </div>
          <div>
            <h2>
              <span class="fa fa-hand-peace-o" /></span>
              Être sereins
            </h2>
            <p>
              <strong>Cultivez votre résilience</strong>&nbsp;:
              perpétuez vos savoir-faire,
              trouvez soutiens et relais,
              respirez,
              trouvez des inspirations,
              adaptez-vous aux aléas.
            </p>
          </div>
        </article>
      </div>
    </div>
  </section>

  <section id="proposal">
    <div>
      <div>
        <blockquote>
          Je vous aide à développer des<br />
          <strong>communs</strong>
        </blockquote>
      </div>
    </div>
  </section>

  <section id="services">
    <div>
      <div>
        <article>
          <div>          
            <h2>
              <span class="fa fa-handshake-o fa-4x" /></span>
              Décider et coopérer
            </h2>
            <p>
              Travailler en équipes auto-organisées,
              conjuguer liberté et responsabilité,
              gérer les projets de façon agile,
              <strong>mettre en pratique une gouvernance partagée</strong>.
            </p>
          </div>
          <div>
            <h2>
              <span class="fa fa-comments-o fa-4x" /></span>
              Transmettre
            </h2>
            <p>
              Accueillir les nouveaux,
              former,
              documenter,
              communiquer théorie, pratique et enthousiasme,
              rayonner alentour,
              <strong>faire vivre la culture de votre projet</strong>.
            </p>
          </div>
          <div>
            <h2>
              <span class="fa fa-heart-o fa-4x" /></span>
              Donner du sens
            </h2>
            <p>
              Cultiver le bonheur au travail,
              remplir une mission sociale et environnementale,
              <strong>donner les clés pour faire les choix bons pour soi, les autres et la nature</strong>.
            </p>
          </div>
        </article>
      </div>
    </div>
  </section>

  <section id="contact">
    <div>
      <div>
        <article>
          <h2>Rencontrons-nous&nbsp;!</h2>
          <div class="meet">
            <ul>
              <li>Lors d'une consultation sur rendez-vous&nbsp;;</li>
              <li>au cours d'un atelier ou d'une formation&nbsp;;</li>
              <li>en passant, dans un <a href="http://coworking-pb.com/coordonnees">espace de coworking à Bayonne ou à Biarritz</a>&nbsp;;</li>
              <li>ou à l'occasion d'un des événements auquel nous participerions.</li>
            </ul>
            <p>Note&nbsp;: je privilégie les <a href="https://fr.wikipedia.org/wiki/%C3%89comobilit%C3%A9">transports doux</a>, au départ de Bayonne.</p>
          </div>
          <div class="call">
            <img src="img/benoit-bryon.jpg" />
            <h3>Benoît BRYON</h3>
            <p><span class="fa fa-phone fa-fw"> </span>&nbsp; 06&nbsp;74&nbsp;49&nbsp;68&nbsp;81</p>
            <p><span class="fa fa-envelope-o fa-fw"> </span>&nbsp; <a href="mailto:benoit@marmelune.net">benoit@marmelune.net</a></p>
            <p><span class="fa fa-home fa-fw"> </span>&nbsp; Bayonne, France</p>
            <p><span class="fa fa-search-plus fa-fw"> </span>&nbsp; <a href="http://www.marmelune.net">www.marmelune.net</a></p>
            <p style="clear: both;">
              <span class="fa fa-user-plus fa-3x" style="float: left; margin-right: 10px;"> </span>
              Envie de coopérer sur cette activité professionnelle&nbsp;?
              Évoquons ensemble sa mise en commun ;)
            </p>
          </div>
        </article>
      </div>
    </div>
  </section>
{% endblock content %}
