{% extends "base.html" %}

{% block body_id %}index{% endblock %}

{% block content %}

  {# Articles #}
  <section id="services">
    <div>
      <div>
        <blockquote>
          Culture et savoir-faire numériques<br />
          au service d'activités à taille humaine.
        </blockquote>
        <p>
          Développeur web depuis 14 ans, spécialiste <a href="https://www.python.org">Python</a> &amp; <a href="https://djangoproject.com">Django</a>, pratiquant des <a href="http://agilemanifesto.org/iso/fr/">approches agiles</a>,<br />
          je m'engage dans une démarche de coopération, où l'outil numérique doit rester simple et utile.
        </p>
        <article>
          <div>          
            <h2>Conseil</h2>
            <ul>
              <li>Assistance à maîtrise d'ouvrage</li>
              <li>Composition d'équipes</li>
              <li>Dépannage web</li>
            </ul>
          </div>
          <div>
            <h2>Formations</h2>
            <ul>
              <li>Outils pour s'organiser</li>
              <li>Édition de logiciels libres</li>
              <li>Développement Python/Django</li>
            </ul>
          </div>
          <div>
            <h2>Développement</h2>
            <ul>
              <li>Sites internet</li>
              <li>Applications métier</li>
              <li>Expertise Python/Django</li>
            </ul>
          </div>
        </article>
      </div>
    </div>
  </section>

  <section id="contact">
    <div>
      <div>
        <article>
          <h2>Rencontrons-nous&nbsp;!</h2>
          <div class="meet">
            <ul>
              <li>Lors d'une consultation sur rendez-vous&nbsp;;</li>
              <li>au cours d'un atelier ou une formation&nbsp;;</li>
              <li>en passant, à l'<a href="http://coworking-pb.com/coordonnees">espace de coworking, 7 rue Chapelet à Biarritz</a>&nbsp;;</li>
              <li>ou à l'occasion d'un des événements auquel nous participerions.</li>
            </ul>
            <p>Note&nbsp;: je privilégie les <a href="https://fr.wikipedia.org/wiki/%C3%89comobilit%C3%A9">transports doux</a>, au départ de Bayonne.</p>
          </div>
          <div class="call">
            <h3>Benoît BRYON</h3>
            <p><span class="fa fa-phone"> </span> 06&nbsp;74&nbsp;49&nbsp;68&nbsp;81</p>
            <p><span class="fa fa-envelope-o"> </span> contact@nos-mains-nues.com</p>
            <p><span class="fa fa-home"> </span> Bayonne, France</p>
          </div>
        </article>
      </div>
    </div>
  </section>
{% endblock content %}
