{% extends "base.html" %}

{% block body_id %}index{% endblock %}

{% block content %}

  <section id="tagline">
    <div>
      <div>
        <blockquote>
          <strong>Porteurs de sens</strong>, vos projets sont des trésors à partager&nbsp;?<br />
          <span class="excerpt">Offrez-leur de grandir <strong>libres&nbsp;!</strong></span>
        </blockquote>
      </div>
    </div>
  </section>

  <section id="benefits">
    <div>
      <div>
        <article>
          <div>
            <h2>
              <span class="fa fa-fw fa-heart-o" /></span>
              <span class="action">Donner du sens</span>
              <span class="result">pour mobiliser</span>
            </h2>
            <p class="benefit">
<strong>Développez la perception et la conscience de votre rôle</strong>
en relation avec votre écosystème.
Partagez cette connaissance pour dépasser les seuls intérêts personnels
et engager des coopérations à différents niveaux.
            </p>
          </div>
        </article>
        <article>
          <div>
            <h2>
              <span class="fa fa-fw fa-handshake-o" /></span>
              <span class="action">Agir</span>
              <span class="result">et réussir ensemble</span>
            </h2>
            <p>
              <strong>Coordonnez les talents de chacun pour relever les défis concrets</strong>
              en cohérence avec vos aspirations. Améliorez vos pratiques par petits pas pour respecter vos échéances tout en assurant les sujets de fond.
            </p>
          </div>
        </article>
        <article>
          <div>
            <h2>
              <span class="fa fa-fw fa-globe" /></span>
              <span class="action">Ouvrir</span>
              <span class="result">et changer d'échelle</span>
            </h2>
            <p>
               <strong>Accueillez bonnes volontés et parties prenantes dans vos processus.</strong> Faites rayonner votre projet et sa culture, transmettez théorie, pratique et enthousiasme pour gagner tant en puissance qu'en résilience.
            </p>
          </div>
        </article>
        <article>
          <div>
            <h2>
              <span class="fa fa-fw fa-hand-peace-o" /></span>
              <span class="action">Équilibrer</span>
              <span class="result">pour bien vivre</span>
            </h2>
            <p>
            <strong>Aménagez un cadre à la fois flexible et sécurisant pour rendre votre mouvement littéralement durable.</strong> En quête de sérénité, cultivez votre capacité à vous adapter, à trouver soutiens et relais, à respirer.
            </p>
          </div>
        </article>

      </div>
    </div>
  </section>

  <section id="proposal">
    <div>
      <div>
        <blockquote>
          Je vous aide à développer des<br />
          <strong>communs</strong>
        </blockquote>
      </div>
    </div>
  </section>

  <section id="applications">
    <div>
      <div>
        <article>
          <div>
            <h2>
              <span class="fa fa-fw fa-share-alt" /></span>
              <span class="action">Tiers-lieux</span>
              <span class="result">espaces-temps partagés</span>
            </h2>
            <p>

            </p>
          </div>
        </article>
        <article>
          <div>
            <h2>
              <span class="fa fa-fw fa-users" /></span>
              <span class="action">Organisations</span>
              <span class="result">activités libres et responsables</span>
            </h2>
            <p>

            </p>
          </div>
        </article>
        <article>
          <div>
            <h2>
              <span class="fa fa-fw fa-bank" /></span>
              <span class="action">Citoyenneté</span>
              <span class="result">territoires créatifs</span>
            </h2>
            <p>

            </p>
          </div>
        </article>
        <article>
          <div>
            <h2>
              <span class="fa fa-fw fa-graduation-cap" /></span>
              <span class="action">Éducation</span>
              <span class="result">culture des communs</span>
            </h2>
            <p>

            </p>
          </div>
        </article>
      </div>
    </div>
  </section>

  <section id="contact">
    <div>
      <div>
        <article>
          <h2>Rencontrons-nous&nbsp;!</h2>
          <div class="meet">
            <p>
À la recherche d'une harmonie joyeuse entre individus, société et nature,
je contribue au développement de (biens) communs ainsi qu'à l'émergence
d'écosystèmes locaux cohérents.
Ma motivation&nbsp;: multiplier, jusquà les rendre accessibles au plus grand nombre,
les espaces où les individus peuvent faire les choix bons pour tous et chacun.
            </p>
          </div>
          <div class="call">
            <img src="img/benoit-bryon.jpg" />
            <h3>Benoît BRYON</h3>
            <p><span class="fa fa-phone fa-fw"> </span>&nbsp; 06&nbsp;74&nbsp;49&nbsp;68&nbsp;81</p>
            <p><span class="fa fa-envelope-o fa-fw"> </span>&nbsp; <a href="mailto:benoit@marmelune.net">benoit@marmelune.net</a></p>
            <p><span class="fa fa-home fa-fw"> </span>&nbsp; Bayonne, France</p>
            <p><span class="fa fa-search-plus fa-fw"> </span>&nbsp; <a href="http://www.marmelune.net">www.marmelune.net</a></p>
            <p style="clear: both;">
              <span class="fa fa-user-plus fa-3x" style="float: left; margin-right: 10px;"> </span>
              Envie de coopérer sur cette activité professionnelle&nbsp;?
              Évoquons ensemble sa mise en commun ;)
            </p>
          </div>
        </article>
      </div>
    </div>
  </section>
{% endblock content %}
